:root {
  --bg-color-light: #f5f2ec;
  --text-color: #442a19;
  --button-color: #6b5c4c;
}

body {
  font-family: "Roboto Serif", serif;
  background-color: var(--bg-color-light);
  color: var(--text-color);
}

.container {
  padding-left: 64px;
  padding-right: 64px;
}

.section {
  padding-top: 72px;
  padding-bottom: 72px;
  border-bottom: 1px solid var(--button-color);
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
p,
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  padding-left: 0;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

.wow-section {
  text-align: center;
}

.wow-title {
  font-weight: 200;
}

/* header */
.header {
  border-bottom: 1px solid var(--button-color);
}

.header-container {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
}

.header-nav-list {
  display: flex;
  gap: 24px;
}

.btn-list {
  display: flex;
  gap: 16px;
  align-items: center;
}

/* hero */

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.hero-title {
  font-size: 48px;
  font-weight: 300;
  margin-bottom: 16px;
}

.hero-img-wrap {
  max-width: 760px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.category-list {
  display: flex;
  justify-content: center;
  gap: 72px;
}

.footer-nav {
  display: flex;
  justify-content: center;
  gap: 72px;
}
