:root {
  --bg-color-light: #f5f2ec;
  --text-color: #442a19;
  --button-color: #6b5c4c;
  --border-color: #d2cec9;
}

body {
  font-family: "Roboto Serif", serif;
  background-color: var(--bg-color-light);
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
p,
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 200;
}

ul,
ol {
  padding-left: 0;
}

img {
  display: block;
  height: auto;
}

body.lock-scroll {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.icon {
  fill: var(--text-color);
}

.link {
  text-decoration: none;
  color: var(--text-color);

  cursor: pointer;
}

.link:visited {
  color: var(--text-color);
}

.list {
  list-style: none;
}

.section {
  padding-top: 64px;
  padding-bottom: 64px;
  border-bottom: 1px solid var(--button-color);
}

@media (min-width: 1024px) {
  .section {
    padding-top: 72px;
    padding-bottom: 72px;
  }
}

.container {
  padding-left: 24px;
  padding-right: 24px;

  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1320px;
  }
}

.shop-link-btn {
  background-color: var(--button-color);

  display: flex;
  justify-content: center;
  width: 180px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid var(--button-color);
  color: var(--bg-color-light);
  text-transform: uppercase;
  text-align: center;
  font-family: inherit;
  text-decoration: none;

  transition: all 0.6s ease;
}

.shop-link-btn:hover {
  background-color: var(--bg-color-light);
  color: var(--text-color);
}

.wow-section {
  text-align: center;
}

.wow-title {
  font-weight: 300;
  font-size: 20px;
}

@media (min-width: 1024px) {
  .wow-title {
    font-size: 24px;
  }
}

.section-title {
  font-size: 22px;
  margin-bottom: 48px;
}

@media (min-width: 1024px) {
  .section-title {
    font-size: 32px;
  }
}

.section-subtitle {
  font-size: 18px;
}

@media (min-width: 1024px) {
  .section-title {
    font-size: 24px;
  }
}

.section-text {
  font-size: 16px;
  line-height: 1.7;
}

/* ------------------HEADER---------------------------- */
.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--button-color);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 22px;
  font-weight: 200;
}

.site-nav-header {
  display: none;
}

@media (min-width: 1024px) {
  .site-nav-header {
    display: flex;
  }
}

.header-nav-list {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header-nav-item {
  text-transform: lowercase;
}

.header-btn-list {
  display: flex;
  gap: 8px;

  align-items: center;
}

@media (min-width: 768px) {
  .header-btn-list {
    gap: 16px;
  }
}

.empty-button {
  border: transparent;
  background-color: transparent;
  cursor: pointer;
}

.close-icon {
  display: none;
}

.mob-menu-btn {
  display: block;
}
@media (min-width: 1024px) {
  .mob-menu-btn {
    display: none;
  }
}

.mob-menu {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 80px;
  left: 0;

  background-color: var(--bg-color-light);
  opacity: 0;
  visibility: hidden;
  transition: opacity 300ms ease, visibility 300ms ease;

  z-index: 1000;
  display: flex;
  flex-direction: column;

  -webkit-overflow-scrolling: touch;
}
.mob-menu.open {
  opacity: 1;
  visibility: visible;
}

.mob-menu-nav-list {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  padding-left: 20px;
  padding-right: 20px;

  text-align: center;
  text-transform: lowercase;
  font-size: 24px;
}

.mob-menu-nav-link {
  display: block;
  padding-top: 18px;
  padding-bottom: 18px;
}

@media (min-width: 768px) {
  .mob-menu-nav-link {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
/* --------------------HERO------------------------ */

.hero-container {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

@media (min-width: 1024px) {
  .hero-container {
    display: flex;
    flex-direction: row;
    gap: 72px;
  }
}

@media (min-width: 1280px) {
  .hero-container {
    gap: 96px;
  }
}

.hero-text-content {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

@media (min-width: 1024px) {
  .hero-text-content {
    align-self: center;
    min-width: 320px;
  }
}

@media (min-width: 1280px) {
  .hero-text-content {
    min-width: 440px;
  }
}

.hero-title {
  font-size: 40px;
}

@media (min-width: 576px) {
  .hero-title {
    font-size: 48px;
  }
}
@media (min-width: 1280px) {
  .hero-title {
    font-size: 56px;
  }
}

.hero-subtitle {
  font-size: 24px;
}

@media (min-width: 1280px) {
  .hero-subtitle {
    font-size: 32px;
  }
}

.hero-img img {
  width: 100%;
}

.hero-text {
  margin-top: 16px;
  line-height: 1.7;
  font-size: 16px;
  text-align: justify;
}

/* ---------------------ABOUT---------------------- */
.about-container {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

@media (min-width: 1024px) {
  .about-container {
    display: flex;
    flex-direction: row;
    gap: 72px;
  }
}

.about-text-wrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.about-btn {
  margin-top: 28px;
  background-color: var(--bg-color-light);
  color: var(--text-color);
  transition: all 0.6s ease;
}

.about-btn:hover {
  background-color: var(--button-color);
  color: var(--bg-color-light);
}

.about-img-wrap {
  max-width: 672px;
}

@media (min-width: 1024px) {
  .about-img-wrap {
    max-width: 320px;
  }
}

@media (min-width: 1280px) {
  .about-img-wrap {
    max-width: 360px;
  }
}

.about-img-wrap img {
  width: 100%;
}

/* -------------------CATEGORY------------------ */

.category-btn {
  margin-top: 48px;
}

.category-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

@media (min-width: 768px) {
  .category-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.category-link {
  display: block;
  text-decoration: none;
  color: inherit;
  min-height: 44px;
}

.category-card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .category-card {
    max-width: 280px;
  }
}

@media (min-width: 1024px) {
  .category-card {
    max-width: 320px;
  }
}

@media (min-width: 1280px) {
  .category-card {
    max-width: 360px;
  }
}

.category-card img {
  width: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.category-card:hover img {
  transform: scale(1.05);
}

.category-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(107, 92, 76, 0.7);
  padding: 20px;
  text-align: center;
}

.category-title {
  color: var(--bg-color-light);
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

/* -------------------RECOMMEND-SECTION-------------------- */

.recommend-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

@media (min-width: 768px) {
  .recommend-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: space-around;
  }
}

@media (min-width: 1024px) {
  .recommend-list {
    flex-wrap: nowrap;
    gap: 8px;
  }
}

@media (min-width: 1280px) {
  .recommend-list {
    gap: 24px;
  }
}

.recommend-item {
  border: 1px solid var(--border-color);
  padding: 20px;
  width: 100%;

  justify-content: center;

  transition: all 0.6s ease;
}

.recommend-item:hover,
.recommend-item:focus {
  border: 1px solid var(--text-color);
}

@media (min-width: 768px) {
  .recommend-item {
    max-width: 320px;
  }
}

@media (min-width: 1024px) {
  .recommend-item {
    max-width: 220px;
  }
}

@media (min-width: 1280px) {
  .recommend-item {
    max-width: 280px;
  }
}

@media (min-width: 1440px) {
  .recommend-item {
    max-width: 320px;
  }
}

.item-card-img {
  width: 100%;
}

.item-card-img img {
  display: block;

  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.item-card-description {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.item-card-title {
  font-size: 20px;
  height: 44px;
}

.item-card-subtitle {
  color: var(--button-color);
  font-size: 12px;
}

.item-card-price {
  font-size: 22px;
  font-weight: 300;
}

.shop-link-btn.cart-button {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* -----------------Footer------------------ */

.footer-container {
  padding-top: 24px;
  padding-bottom: 24px;

  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    align-items: center;
    gap: 96px;
  }
}

@media (min-width: 1024px) {
  .footer-container {
    flex-direction: row;
    align-items: center;
    gap: 96px;
    justify-content: space-between;

    padding-top: 48px;
    padding-bottom: 48px;
  }
}

@media (min-width: 1280px) {
  .footer-container {
    flex-direction: row;
    align-items: center;
    gap: 96px;
  }
}

.footer-content {
  display: flex;
  justify-content: space-around;
}

@media (min-width: 576px) {
  .footer-content {
    justify-content: space-around;
  }
}

@media (min-width: 768px) {
  .footer-content {
    gap: 96px;
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .footer-content {
    min-width: 380px;
    justify-content: space-between;
  }
}

@media (min-width: 1024px) {
  .footer-content {
    min-width: 460px;
    justify-content: space-between;
  }
}

.footer-nav-list {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 16px;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .footer-nav-list {
    font-size: 18px;
  }
}

/* ----------------SHOP-PAGE-------------- */
.shop-hero-container .hero-title {
  margin-bottom: 48px;
}

.shop-hero-text-wrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.filter-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 36px;
}

.filter-btn {
  padding: 8px 16px;
  border: 1px solid var(--button-color);
  background: var(--bg-color-light);
  color: var(--button-color);
  font-size: 14px;
  text-transform: uppercase;
  white-space: nowrap;
  transition: all 0.3s ease;
}

.filter-btn.active,
.filter-btn:hover {
  background-color: var(--button-color);
  color: var(--bg-color-light);
}

/* -----------------ITEM-PAGE-------------- */

.back-link {
  font-size: 14px;
  margin-bottom: 32px;
  display: inline-block;
}

@media (min-width: 768px) {
  .back-link {
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
  .item-container {
    display: flex;
    gap: 72px;
  }
}

@media (min-width: 1024px) {
  .item-container {
    gap: 96px;
  }
}

.item-photo img {
  width: 100%;
  object-fit: cover;
}

.item-photo {
  position: relative;
  margin-bottom: 32px;
}

@media (min-width: 1280px) {
  .item-photo {
    max-width: 640px;
  }
}

.category-badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background: var(--bg-color-light);
  color: inherit;
  padding: 12px 12px;
  width: 64px;
  border-radius: 50px;
  font-size: 12px;
  text-align: center;
}

@media (min-width: 1024px) {
  .item-description {
    max-width: 360px;
    position: sticky;
    top: 72px;
    align-self: flex-start;
  }
}

@media (min-width: 1280px) {
  .item-description {
    max-width: 460px;
  }
}

@media (min-width: 1440px) {
  .item-description {
    max-width: 560px;
  }
}

.purchase-wrap {
  margin-top: 32px;
  margin-bottom: 32px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 576px) {
  .purchase-wrap {
    justify-content: space-evenly;
  }
}

@media (min-width: 1024px) {
  .purchase-wrap {
    justify-content: space-between;
  }
}

.purchase-wrap .item-card-price {
  font-size: 24px;
}

@media (min-width: 576px) {
  .purchase-wrap .item-card-price {
    font-size: 28px;
  }
}
.custom-dropdown {
  position: relative;
  width: 100%;
  cursor: pointer;

  margin-top: 32px;
}

.dropdown-selected {
  border: 1px solid var(--border-color);
  background-color: transparent;
  color: var(--text-color);
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
}

.dropdown-selected:hover {
  border-color: var(--text-color);
}

.dropdown-arrow {
  transition: transform 0.3s ease;
  fill: var(--text-color);
  margin-left: 8px;
}

.custom-dropdown.open .dropdown-arrow {
  transform: rotate(180deg);
}

.dropdown-options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: var(--bg-color-light);
  border: 1px solid var(--border-color);
  border-top: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  z-index: 10;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.custom-dropdown.open .dropdown-options {
  max-height: 200px;
  border-top: 1px solid var(--border-color);
}

.dropdown-option {
  padding: 12px 15px;
  transition: all 0.2s ease;
}

.dropdown-option:hover {
  background-color: var(--button-color);
  color: var(--bg-color-light);
}

.dropdown-option.active {
  background-color: transparent;
  color: var(--text-color);
}

.product-tabs {
  margin-top: 32px;
}

.tab-buttons {
  display: flex;
  justify-content: space-between;

  margin-bottom: 24px;
}

@media (min-width: 576px) {
  .tab-buttons {
    justify-content: space-evenly;
  }
}

@media (min-width: 1024px) {
  .tab-buttons {
    justify-content: space-between;
  }
}

.tab-btn {
  background: none;
  border: none;
  padding: 12px 24px;
  cursor: pointer;
  font-size: 14px;
  color: var(--button-color);
  border-bottom: 1px solid var(--border-color);
  transition: all 0.3s ease;
}

@media (min-width: 768px) {
  .tab-btn {
    font-size: 16px;
  }
}

.tab-btn.active {
  color: var(--text-color);
  border-bottom-color: var(--text-color);
  font-weight: 500;
}

.tab-btn:hover {
  color: var(--text-color);
}

.tab-pane {
  display: none;
  animation: fadeIn 0.3s ease;
}

.tab-pane.active {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.cart-sidebar {
  position: fixed;
  top: 0;
  right: -400px; /* приховано */
  width: 400px;
  height: 90vh;
  background: var(--bg-color-light);
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.cart-sidebar.open {
  right: 0; /* показано */
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #e0e0e0;
}

.cart-items {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.cart-item {
  display: flex;
  gap: 15px;
  padding: 15px 0;
  border-bottom: 1px solid var(--border-color);
}

.cart-item img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 4px;
}

.cart-item-info {
  flex: 1;
}

.cart-item-info h4 {
  font-size: 14px;
  margin: 0 0 5px 0;
  color: var(--text-color);
}

.cart-item-info p {
  font-size: 12px;
  color: #8b7765;
  margin: 0;
}

.cart-item-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantity-btn {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  background: var(--bg-color-light);
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-footer {
  padding: 20px;
  border-top: 1px solid var(--border-color);
  background: var(--bg-color-light);
}

.cart-total {
  margin-bottom: 15px;
  text-align: center;
  font-size: 18px;
  color: #442a19;
}

.checkout-btn {
  width: 100%;
  padding: 15px;
  background: var(--button-color);
  color: var(--bg-color-light);
  border: none;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  transition: background 0.3s ease;
}

.checkout-btn:hover {
  background: #442a19;
}

.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 999;
}

.cart-overlay.active {
  opacity: 1;
  visibility: visible;
}

.lang-toggle {
  background: none;
  border: 1px solid var(--button-color);
  color: var(--button-color);
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  padding: 4px 4px;

  width: 32px;
  transition: all 0.3s ease;
}

.lang-toggle:hover {
  background: var(--button-color);
  color: var(--bg-color-light);
}
